* {
    font-family: 'Roboto Slab', serif;
}
.searchSection{
	margin-bottom:25px;
}
.results{
	width:80%;
	margin: 0 auto;
}
.resultBlock{
	background-color:#D3D3D3;
	border: 2px solid #777777;
	border-radius: 10px;
	padding:10px 10px 10px 10px;
	animation-duration: 1s;
  	animation-name: slidein;
  	margin-bottom:15px;
}
.title{
	padding:5px 5px 5px 5px;
	color:black;
	font-size:20px;
	font-weight:bold;
	text-decoration: none;
}
.title:hover{
	text-decoration: underline;
}
@keyframes slidein{
	from{
		margin-left: 100%;
		width:300%;
	}
	to{
		margin-left: 0%;
		width:100%;
	}
}